body {
  margin: 0;
}

#canvasDiv{
  margin: 25px 0px 0px 150px;
  height: auto;
  width: 720px;
  height: 720px;
  position: relative;
}

#buttonDiv{
  float: right;
  margin: 25px 25px;
  width: 400px;
  height: auto;
}

#header{
  width: 100%;
  height: 57px;
  font-size: 22px;
  font-family: Georgia, serif;
  background-color: grey
}

#headerTxt{
  float: left;
  margin: 12px 12px;
}

#mainLobby{
  float: left;
  height: 100%;
  width: 100%;
}