body {
  margin: 0;
  background-color: #202225;
}

.container{
  margin: 5vh;
  top: 50%;
}
.mainCanvas {
	border: 2px solid #666;
  width: 30vw;
  height: 30vw;
  margin-top:-20vh
}
.subCanvas {
	border: 2px solid #666;
  width: 20vw;
  height: 20vw;
}
