body {
  margin: 0;
  background-color: #202225;
}

.container{
  margin: 5vh;
}
canvas {
	border: 2vh solid #202225;
	background-color: #202225;
  width: 60vh;
  height: 60vh;
}

#buttonDiv{
  color: whitesmoke;
  float: right;
  margin: 5vh;
  width: 500px;
  height: auto;
}
